.para{
background-color: yellow;
}

.page-title {
background-color: yellow;

animation-timing-function: linear;
animation-name: red-to-black;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-direction: alternate;
}


@keyframes myanimation {
    0% {color: red;}
    25% {color: yellow;}
    50% {color: green;}
    75% {color: blue;}
    1000% {color: white;}

}

@keyframes red-to-black {
	0% {
		background: red;
		transform: translate(0px, 0px);
	}

	50% {
		background: yellow;
		transform: translate(10px, 10px);
	}

	100% {
		background: #1DD9DF;
		transform: translate(20px, 20px);


	}
}

